@model List<ToDoListApp.Models.ToDoItem>

<h1>To-Do List</h1>

<form asp-action="Add" method="post">
    <input type="text" name="Title" placeholder="New To-Do" required />
    <button type="submit">Add</button>
</form>

<ul>
    @foreach (var item in Model)
    {
        <li>
            @item.Title
            <form asp-action="Remove" method="post" style="display:inline;">
                <input type="hidden" name="id" value="@item.Id" />
                <button type="submit">Remove</button>
            </form>
        </li>
    }
</ul>
